.about {
  margin: 0 auto;
  margin-bottom: 31px;
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
  color: #000000;
  font-weight: bold;
}

.about__title {
  @include no-indent;
  margin-bottom: 27px;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  @include no-list;
  font-size: 17px;
  line-height: 20px;
}

.about__item {
  position: relative;
  display: inline-block;
  padding-top: 60px;
  padding-bottom: 23px;
  max-width: 250px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }

  &--flower::before {
    top: 5px;
    left: 7px;
    width: 32px;
    height: 37px;
    background-image: url("../img/feature-flower.svg");
    background-size: 32px 37px;
  }

  &--money::before {
    top: 6px;
    left: 0;
    width: 47px;
    height: 27px;
    background-image: url("../img/feature-money.svg");
    background-size: 47px 27px;
  }

  &--heart::before {
    top: 10px;
    left: 7px;
    width: 34px;
    height: 27px;
    background-image: url("../img/feature-heart.svg");
    background-size: 34px 27px;
  }

  &--ball::before {
    top: 9px;
    left: 2px;
    width: 35px;
    height: 34px;
    background-image: url("../img/feature-ball.svg");
    background-size: 35px 34px;
  }

  &--rocket::before {
    top: 9px;
    left: -5px;
    width: 55px;
    height: 23px;
    background-image: url("../img/feature-rocket.svg");
    background-size: 55px 23px;
  }

  &--gift::before {
    top: 7px;
    left: 3px;
    width: 33px;
    height: 32px;
    background-image: url("../img/feature-gift.svg");
    background-size: 33px 32px;
  }
}


@media (min-width: $tablet-width) {
  .about {
    margin-bottom: 51px;
    padding-left: 50px;
    padding-right: 88px;
    width: 768px;
  }

  .about__title {
    margin-bottom: 25px;
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
  }

  .about__wrapper {
    display: flex;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    line-height: 22px;
  }

  .about__item {
    padding-top: 79px;
    padding-bottom: 32px;
    max-width: 295px;
    width: 50%;

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--ball {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }

    &::before {
      top: 27px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-bottom: 57px;
    padding-left: 225px;
    padding-right: 225px;
    width: 1150px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about__list {
    margin-right: 55px;
  }
}
