.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  margin-bottom: 39px;
  padding-top: 36px;
  box-sizing: border-box;
  color: #444444;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 6px;
  //   background-image: url("../img/bg-zigzag-line.svg");
  //   background-size: auto 6px;
  //   transform: rotate(180deg);
  //   background-position: center;
  //   overflow: hidden;
  // }
}

.contacts__title {
  margin: 0 auto;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 21px;
  width: 320px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  box-sizing: border-box;
}

.contacts__wrapper {
  padding-bottom: 37px;
}

.contacts__list {
  margin: 0 auto;
  margin-bottom: 8px;
  padding-left: 25px;
  padding-right: 16px;
  width: 320px;
  font-size: 15px;
  line-height: 30px;

  tr {
    display: inline-block;
    padding-bottom: 24px;
  }
}

.contacts__item {
  vertical-align: top;
  padding-right: 27px;
}

.contacts__content a {
  position: relative;
  color: #444444;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    height: 1px;
    background: #46c1ae;
  }

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);

    &::after {
      background: rgba(70, 193, 174, 0.1);
    }
  }
}

.contacts__map-wrapper {
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    z-index: 5;
  }

  picture {
    z-index: 1;
  }
}

.contacts__image-map {
  position: relative;
  margin-left: calc(50% - 160px);
  z-index: 1;
}

.contacts__button {
  align-self: center;
  margin: 0 auto;
  padding-left: 49px;
  padding-right: 49px;
  max-width: 320px;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 27px;
    padding-top: 62px;
    padding-bottom: 30px;

    // &::after {
    //   content: "";
    //   height: 15px;
    //   background-size: auto 15px;
    // }
  }

  .contacts__wrapper {
    padding: 0;
    padding-bottom: 50px;
  }

  .contacts__title {
    position: relative;
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 130px;
    padding-bottom: 44px;
    width: 768px;
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      top: -14px;
      right: 52px;
      width: 47px;
      height: 81px;
      background-image: url("../img/flag.svg");
    }
  }

  .contacts__list {
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 82px;
    padding-bottom: 28px;
    width: 768px;
    font-size: 17px;

    tbody {
      display: flex;
      justify-content: space-between;
    }
  }

  .contacts__item {
    padding-right: 20px;
  }

  .contacts__image-map {
    margin-left: calc(50% - 384px);
    width: 768px;
    height: 457px;
  }

  .contacts__button {
    padding-left: 37px;
    padding-right: 38px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 67px;
    padding-top: 142px;
    padding-left: 219px;
    padding-right: 50px;
    width: 1150px;

    &::before {
      content: "";
      position: absolute;
      top: 134px;
      left: 113px;
      width: 47px;
      height: 81px;
      background-image: url("../img/flag.svg");
    }

    // &::after {
    //   content: "";
    //   left: 50px;
    //   width: 1050px;
    //   height: 23px;
    //   background-size: 1050px 23px;
    // }
  }

  .contacts__title {
    display: inline-block;
    margin: 0;
    padding-left: 0;
    padding-right: 20px;
    font-size: 53px;
    line-height: 57px;
    max-width: 270px;

    &::before {
      display: none;
    }
  }

  .contacts__list {
    display: block;
    margin: 0;
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 110px;
    max-width: 320px;

    tbody {
      display: table;
    }
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .contacts__map-wrapper {
    margin-top: -172px;
  }

  .contacts__image-map {
    margin: 0;
    width: 525px;
  }

  .contacts__button {
    position: absolute;
    left: 225px;
    bottom: 38px;
    margin: 0;
  }
}
