.copyright {
  position: relative;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.copyright__text {
  padding: 0;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;

  &:active .copyright__text {
    opacity: 0.3;
  }

  svg {
    width: 27px;
    height: 34px;
    fill: $seafoam-blue;
  }

  &:hover svg {
    fill: #46c1ae;
  }

  &:active svg {
    fill: rgba(70, 193, 174, 0.3);
  }
}


@media (min-width: $tablet-width) {
  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-width: 183px;
  }

  .copyright__link {
    padding: 0;
    width: 100%;
  }
}
