.form-item {
  @include no-indent;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;

  &--type {
    margin-bottom: 17px;
  }

  &--color {
    margin-bottom: 44px;
  }

  &--name {
    margin-bottom: 9px;
  }

  &--phone,
  &--email {
    margin-bottom: 10px;
  }
}

.form-item__wrapper {
  position: relative;
}

.form-item__item--toggle {
  margin-bottom: 25px;
  padding-left: 64px;
}

.form-item__list--checkbox .form-item__item--toggle {
  margin-bottom: 43px;
}

.form-item__list--checkbox .form-item__item--toggle:last-child {
  margin-bottom: 0;
}

.form-item__legend {
  @include no-indent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $seafoam-blue;
  text-transform: uppercase;

  &--name {
    padding-bottom: 28px;
  }

  &--phone,
  &--email {
    padding-bottom: 7px;
  }

  &--textarea {
    padding-bottom: 25px;
  }

  &::after {
    content: "";
    width: 50px;
    height: 1px;
    background: $seafoam-blue;
    flex-grow: 1;
    margin-left: 20px;
  }
}

.form-item__list {
  @include no-list;

  &--toggle {
    padding-left: 62px;
    padding-bottom: 24px;
  }
}

.form-item__input {
  position: relative;
  margin-bottom: 22px;
  padding-bottom: 4px;
  width: 100%;
  height: 52px;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 -2px 0 0 #62d1ba;
  }

  &--phone-number {
    font-size: 19px;
  }

  &--textarea {
    margin-bottom: 0;
    padding: 15px;
    height: 142px;
    border: solid 2px #444444;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active {
      border: solid 2px #62d1ba;
      box-shadow: none;
    }

    &:focus,
    &:active {
      color: #444444;
    }
  }
}

.form-item__label {
  position: relative;
}

.form-item__input--radio + label::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -64px;
  width: 39px;
  height: 39px;
  border: 2px solid #444444;
  border-radius: 50%;
}

.form-item__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -52px;
  width: 8px;
  height: 8px;
  border: 8px solid #62d1ba;
  border-radius: 50%;
}

.form-item__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -64px;
  width: 40px;
  height: 39px;
  border: 2px solid #444444;
}

.form-item__input--checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -56px;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
}

.form-item__input--radio:hover + label::before,
.form-item__input--radio:focus + label::before,
.form-item__input--checkbox:hover + label::before,
.form-item__input--checkbox:focus + label::before {
  border: 2px solid #62d1ba;
}

.form-item__input--radio:active + label::before,
.form-item__input--checkbox:active + label::before {
  border: 2px solid #444444;
  opacity: 0.3;
}

.form-item__input--radio:disabled + label::before,
.form-item__input--checkbox:disabled + label::before {
  opacity: 0.1;
}

.form-item--phone svg,
.form-item--email svg {
  position: absolute;
  top: 34px;
  right: 8px;
  fill: #000000;
  opacity: 0.2;
}

.form-item--email svg {
  right: 4px;
}

.form-item__input:hover ~ svg,
.form-item__input:focus ~ svg,
.form-item__input:active ~ svg {
  fill: #62d1ba;
  opacity: 1;
}

.form-item__input[placeholder] {
  color: #444444;
}

.form-item__info {
  margin-top: 13px;
}

.form-item__text {
  @include no-indent;
  display: block;
  margin-bottom: 31px;
  color: #444444;
  font-size: 14px;
  line-height: 16px;
}

.form-item__button {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 44px;
  padding-right: 44px;
  line-height: 16px;
}

.form-item__input--phone-number:focus + label,
.form-item__input--email:focus + label {
  display: none;
}

@media (min-width: $tablet-width) {
  .form-item {
    display: flex;
    font-size: 19px;
    width: 100%;

    &--type,
    &--color {
      margin: 0;
      padding-bottom: 13px;

      .form-item__legend {
        margin-top: 0;
      }
    }

    &--color {
      padding-top: 65px;

      .form-item__item--toggle {
        width: 48%;
      }
    }

    &--name {
      padding-bottom: 27px;
      padding-top: 48px;
    }

    &--color,
    &--phone,
    &--email {
      background-color: #f1f1f1;
    }

    &--phone {
      margin: 0;
      padding-top: 50px;
      padding-bottom: 25px;
    }

    &--email {
      padding-bottom: 50px;
    }

    &--textarea {
      padding-top: 40px;
    }
  }

  .form-item--type,
  .form-item--name,
  .form-item--textarea,
  .form-item__info,
  .form-item__wrapper {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 768px;
  }

  .form-item__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form-item__item--toggle {
    margin-bottom: 57px;
    padding-left: 81px;
  }

  .form-item__legend {
    display: inline-block;
    margin-top: 17px;
    padding-bottom: 0;
    width: 166px;
    flex-shrink: 0;

    &::after {
      display: none;
    }
  }

  .form-item__list--radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-item__list--checkbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .form-item__item--toggle {
      margin-bottom: 57px;
    }
  }

  .form-item__item--name {
    display: flex;
    margin-bottom: 24px;

    .form-item__label {
      margin-top: 17px;
    }
  }

  .form-item__list--text {
    flex-grow: 1;

    .form-item__label {
      vertical-align: middle;
    }
  }

  .form-item__input {
    margin: 0;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 19px;
    background-color: inherit;

    &--phone-number,
    &--email {
      padding-right: 70px;
    }
  }

  .form-item__input--text {
    margin-left: 25px;
  }

  .form-item__input--radio + label::before {
    content: "";
    position: absolute;
    top: -11px;
    left: -79px;
    width: 51px;
    height: 51px;
  }

  .form-item__input--radio:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -63px;
    width: 8px;
    height: 8px;
    border: 10px solid #62d1ba;
  }

  .form-item__input--checkbox + label::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -79px;
    width: 54px;
    height: 52px;
  }

  .form-item__input--checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -67px;
    width: 33px;
    height: 22px;
    background-size: 33px 22px;
  }

  .form-item--phone svg,
  .form-item--email svg {
    position: absolute;
    top: 12px;
    right: 75px;
  }

  .form-item--email svg {
    right: 72px;
  }

  .form-item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
  }

  .form-item__text {
    margin: 0;
    text-align: right;
    font-size: 17px;
    line-height: 30px;
  }

  .form-item__input--textarea {
    padding-top: 13px;
    padding-left: 15px;
  }

  .form-item__button {
    padding-top: 18px;
    padding-left: 29px;
    padding-right: 30px;
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .form-item__input {
    padding-bottom: 7px;
  }

  .form-item--type,
  .form-item--name,
  .form-item--textarea,
  .form-item__info,
  .form-item__wrapper {
    margin: 0 auto;
    padding-left: 111px;
    padding-right: 145px;
    width: 1150px;
  }

  .form-item__input--text,
  .form-item__input--phone-number,
  .form-item__input--email,
  .form-item__input--textarea {
    margin-right: 80px;
  }

  .form-item__input--radio + label::before {
    left: -82px;
  }

  .form-item__input--radio:checked + label::after {
    left: -66px;
  }

  .form-item__input--checkbox + label::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -82px;
    width: 54px;
    height: 51px;
  }

  .form-item__input--checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -70px;
    width: 33px;
    height: 22px;
    background-size: 33px 22px;
  }

  .form-item__list--checkbox .form-item__item--toggle:last-child {
    margin-bottom: 57px;
  }

  .form-item__info {
    padding-left: 225px;
    padding-right: 225px;
  }


  .form-item__legend {
    width: 115px;
  }

  .form-item--type {
    padding-left: 115px;

    .form-item__legend {
      width: 111px;
    }
  }

  .form-item--color {
    .form-item__item--toggle {
      padding-left: 79px;
      width: 32%;
    }
  }

  .form-item--phone {
    padding-top: 49px;
  }

  .form-item--phone svg,
  .form-item--email svg {
    position: absolute;
    top: 10px;
    right: 234px;
  }

  .form-item--email svg {
    right: 230px;
  }

  .form-item--textarea {
    margin-bottom: 47px;
    padding-top: 38px;
  }

  .form-item__input--textarea {
    padding-top: 12px;
    padding-left: 14px;
  }
}
