.order-form {
  margin: 0 auto;
  margin-bottom: 55px;
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
}

.order-form__text {
  @include no-indent;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .order-form {
    padding: 0;
    width: 100%;
  }

  .order-form__text {
    margin: 0 auto;
    margin-bottom: 73px;
    padding-left: 50px;
    padding-right: 50px;
    width: 768px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    margin-bottom: 50px;
  }

  .order-form__text {
    padding-left: 225px;
    padding-right: 225px;
    width: 1150px;
  }
}
