.page-header {
  margin: 0 auto;
  position: relative;
  width: 320px;
  box-shadow: 0 1px 0 0 #ececec;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 100%;
    box-shadow: none;
    z-index: 2;
    background: linear-gradient(to top, #f9f9f9 88px, #ffffff 89px, #ffffff 100%);

    &--catalog,
    &--form {
      background: linear-gradient(to top, #f1f1f1 88px, #ffffff 89px, #ffffff 100%);
    }
  }
}
