.production {
  position: relative;
  margin: 0 auto;
  margin-bottom: 58px;
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1px #ececec;

  &:hover {
    box-shadow:
      inset 0 0 0 1px #ececec,
      0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow:
      inset 0 0 0 1px #ececec,
      0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__container {
  position: relative;
}

.production__link {
  position: absolute;
  top: 37px;
  left: 80px;
  display: block;
  width: 101px;
  height: 77px;

  svg {
    width: 101px;
    height: 77px;
    pointer-events: none;
  }

  &:hover svg {
    transform: scale(1.2);
    transition-duration: 0.4s;
  }

  &:active svg {
    transform: scale(0.8);
    transition-duration: 0.8s;
    opacity: 0.3;
  }
}

.production__video {
  width: 260px;
  height: 150px;
  overflow: hidden;
}

.production__title {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 24px;
  padding-left: 90px;
  padding-right: 30px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  order: -1;

  &::before {
    content: "";
    position: absolute;
    top: 29px;
    left: 34px;
    width: 32px;
    height: 32px;
    background-image: url("../img/video.svg");
    background-repeat: no-repeat;
  }
}

.production__info {
  display: inline-block;
  margin: 34px;
  margin-top: 22px;
}

.production__text {
  @include no-indent;
  padding-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.production__button {
  padding-left: 23px;
  padding-right: 25px;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 63px;
    padding-left: 50px;
    padding-right: 50px;
    width: 768px;
  }

  .production__title {
    padding: 0;
    padding-left: 107px;
    padding-right: 30px;
    font-size: 20px;
    order: 0;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 42px;
    }
  }

  .production__container {
    margin-bottom: 33px;
  }

  .production__link {
    top: 189px;
    left: 283px;
  }

  .production__video {
    width: 668px;
    height: 455px;
  }

  .production__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
    margin-top: 32px;
    margin-bottom: 46px;
  }

  .production__text {
    padding-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 105px;
    padding-left: 50px;
    padding-right: 50px;
    width: 1150px;
  }

  .production__wrapper {
    min-height: 455px;
  }

  .production__title {
    margin-top: 98px;
    margin-left: 760px;
    margin-right: 57px;
    padding: 0;
    max-width: 240px;

    &::before {
      content: "";
      position: absolute;
      top: -56px;
      left: 2px;
    }
  }

  .production__container {
    position: absolute;
    top: 0;
    left: 50px;
    width: 682px;
    height: auto;
  }

  .production__video {
    position: absolute;
    display: block;
    margin: 0;
    width: 682px;
    height: 455px;
  }

  .production__link svg {
    top: 190px;
    left: 292px;
  }

  .production__info {
    margin-left: 760px;
    margin-right: 57px;
    margin-bottom: 60px;
    max-width: 240px;
  }

  .production__text {
    padding-bottom: 45px;
  }

  .production__button {
    padding-left: 44px;
    padding-right: 44px;
    width: auto;
  }
}
