.site-sections {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  background-color: #f9f9f9;

  &--catalog {
    margin-bottom: 30px;
    min-height: 177px;
    background-color: #f1f1f1;
  }

  &--form {
    margin-bottom: 21px;
    min-height: 177px;
    background-color: #f1f1f1;
  }
}

.site-sections__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 70px;
  width: 320px;
  box-shadow: 0 -1px 0 0 #ececec;

  &--index {

    height: 490px;
    background-color: #f9f9f9;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -19px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }

  &--catalog,
  &--form {
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.site-sections__title {
  margin: 0 auto;
  padding: 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #010000;
}

.site-sections--index .site-sections__title {
  max-width: 245px;
}

.site-sections__list {
  @include no-list;
  margin-top: auto;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.site-sections__item {
  position: relative;
  display: block;
  text-align: left;
  width: 320px;
  min-height: 103px;

  svg {
    position: absolute;
    opacity: 0.5;
  }

  &--interior {
    background-color: $seafoam-blue;

    svg {
      top: 23px;
      right: 36px;
      width: 40px;
      height: 62px;
    }

    &:hover {
      box-shadow: 0 -5px 0 0 #59d5bc;
      background-color: #59d5bc;

      svg {
        top: 18px;
      }
    }
  }

  &--toys {
    background-color: $greeny-blue;

    svg {
      top: 21px;
      right: 27px;
      width: 60px;
      height: 60px;
    }

    &:hover {
      box-shadow: 0 -5px 0 0 #46c1ae;
      background-color: #46c1ae;

      svg {
        top: 16px;
      }
    }
  }
}

.site-sections__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 29px;
  padding-right: 120px;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    padding-top: 20px;

    svg {
      opacity: 0.7;
    }
  }

  &:active {
    span {
      opacity: 0.3;
    }

    svg {
      opacity: 0.3;
    }
  }
}

.site-sections__icon {
  position: absolute;
}

.site-sections__icon--interior {
  right: 36px;
  top: 23px;
  width: 40px;
  height: 62px;
}

@media (min-width: $tablet-width) {
  .site-sections {
    margin-bottom: 45px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -11px;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: auto 24px;
    }

    &--catalog,
    &--form {
      margin-bottom: 77px;
      min-height: 125px;
      background-color: #f1f1f1;
    }

    &--form {
      margin-bottom: 70px;
    }
  }

  .site-sections__wrapper {
    padding-top: 66px;
    padding-left: 50px;
    padding-right: 50px;
    width: 768px;
    background-position-y: -90px;

    &--index {
      min-height: 658px;
      background-image: url("../img/hero-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-size: 2300px auto;
      }
    }

    &--catalog,
    &--form {
      padding-top: 8px;
      padding-bottom: 19px;
    }
  }

  .site-sections__title {
    padding-bottom: 63px;
    max-width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  .site-sections--index .site-sections__title {
    max-width: 100%;
  }

  .site-sections__list {
    margin-top: auto;
    display: flex;
    font-size: 20px;
    line-height: 30px;
  }

  .site-sections__item {
    width: 334px;
    min-height: 119px;
    flex-grow: 1;

    &--interior {
      svg {
        top: 30px;
      }

      &:hover svg {
        top: 25px;
      }
    }

    &--toys {
      svg {
        top: 32px;
        right: 34px;
      }

      &:hover svg {
        top: 27px;
      }
    }
  }

  .site-sections__link {
    padding-top: 26px;
    padding-bottom: 31px;
    padding-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .site-sections {
    margin-bottom: 123px;

    &::after {
      bottom: -16px;
      height: 34px;
      background-size: auto 34px;
    }

    &--catalog {
      margin-bottom: 127px;
    }

    &--form {
      margin-bottom: 121px;
    }
  }

  .site-sections__wrapper {
    margin: 0 auto;
    padding: 0;
    padding-top: 6px;
    padding-left: 109px;
    padding-right: 109px;
    width: 1150px;

    &--index {
      padding-top: 66px;
      background-image: url("../img/hero-desktop@1x.jpg");
      min-height: 658px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
        background-size: 2300px auto;
      }
    }

    &--catalog,
    &--form {
      min-height: 167px;
    }
  }

  .site-sections__title {
    max-width: 620px;
    font-size: 53px;
    line-height: 57px;
  }

  .site-sections__item {
    width: 525px;
    min-height: 119px;
  }

  .site-sections__link {
    padding-top: 28px;
    padding-left: 36px;
    padding-right: 310px;
  }
}
