.social {
  margin: 0 auto;
  padding: 25px 30px;
  padding-left: 28px;
  width: 320px;
}

.social__list {
  @include no-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
  border-bottom: 1px solid #ececec;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  text-decoration: none;

  svg {
    fill: #231f20;
    pointer-events: none;
  }

  &:hover .social__icon {
    fill: #46c1ae;
  }

  &:active .social__icon {
    fill: rgba(70, 193, 174, 0.3);
  }
}

.social__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px;
    width: 768px;
  }

  .social__logo {
    position: relative;
    display: inline-block;
    min-width: 175px;

    svg {
      pointer-events: none;
    }

    &:hover svg {
      fill: #46c1ae;
    }

    &:active svg {
      fill: rgba(70, 193, 174, 0.3);
    }
  }

  .social__item {
    margin-top: 8px;
  }

  .social__list {
    padding-bottom: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin: 0 auto;
    width: 1150px;
  }
}
