.about {
  margin: 0 auto;
  margin-bottom: 55px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  width: 320px;
  color: #000000;
  font-weight: bold;
}

.about__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  list-style: none;
}

.about__item {
  padding-top: 60px;
  max-width: 250px;
}
