.catalog {
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  width: 320px;
}

.catalog__list {
  @include no-list;
}

.catalog__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
}

.catalog__description {
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid #ececec;
}

.catalog__title {
  margin: 0;
  padding-top: 25px;
  padding-right: 28px;
  padding-left: 28px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__characteristic {
  padding-right: 28px;
  padding-left: 28px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog__price {
  padding-right: 28px;
  padding-left: 28px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
