.contacts {
  position: relative;
  margin: 0 auto;
  margin-bottom: 39px;
  padding-top: 41px;
  box-sizing: border-box;
  width: 320px;
  color: #444444;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: 320px 6px;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
}

.contacts__title {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 21px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.contacts__wrapper {
  padding-bottom: 37px;
}

.contacts__list {
  margin-bottom: 8px;
  padding-left: 25px;
  padding-right: 16px;
  font-size: 15px;
  line-height: 30px;

  tr {
    display: inline-block;
    padding-bottom: 24px;
  }
}

.contacts__item {
  vertical-align: top;
  padding-right: 27px;
}

.contacts__content a {
  position: relative;
  color: #444444;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    height: 1px;
    background: #46c1ae;
  }

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);

    &::after {
      background: rgba(70, 193, 174, 0.1);
    }
  }
}

.contacts__button {
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 49px;
  padding-right: 49px;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 27px;
    padding-top: 76px;
    padding-bottom: 30px;
    width: 768px;
    background-size: 768px 15px;

    &::before {
      content: "";
      position: absolute;
      top: 61px;
      right: 53px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__wrapper {
    padding: 0;
    padding-bottom: 50px;
  }

  .contacts__title {
    margin-left: -5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 44px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    padding-left: 45px;
    padding-right: 82px;
    padding-bottom: 19px;
    width: 100%;
    font-size: 17px;

    tbody {
      display: flex;
      justify-content: space-between;
    }
  }

  .contacts__item {
    padding-right: 20px;
  }

  .contacts__image-map {
    margin: 0;
    width: 768px;
    height: 457px;
  }

  .contacts__button {
    margin-left: 271px;
    padding-left: 37px;
    padding-right: 38px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 59px;
    padding-top: 164px;
    padding-left: 219px;
    padding-right: 50px;
    width: 1150px;
    background-size: 1050px 23px;
    background-position-x: 50px;

    &::before {
      content: "";
      position: absolute;
      top: 155px;
      left: 113px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__title {
    display: inline-block;
    padding-left: 5px;
    padding-right: 20px;
    font-size: 53px;
    line-height: 57px;
    max-width: 270px;
  }

  .contacts__list {
    display: block;
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 110px;
    max-width: 320px;

    tbody {
      display: table;
    }
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .contacts__image-map {
    margin: 0;
    margin-top: -172px;
    width: 525px;
  }

  .contacts__button {
    position: absolute;
    left: 225px;
    bottom: 47px;
    margin: 0;
  }
}
