.modal-form {
  text-align: center;
}

.modal-form__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.modal-form__list {
  @include no-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.modal-form__item label {
  display: inline-block;
  width: 82px;
  height: 52px;
  box-sizing: border-box;
  padding-top: 19px;
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #444444;
  border: 2px solid rgba(68, 68, 68, 0.1);
  cursor: pointer;

  &:hover {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

.modal-form__size-S:checked ~ .modal-form__list label[for="s-size"],
.modal-form__size-M:checked ~ .modal-form__list label[for="m-size"],
.modal-form__size-L:checked ~ .modal-form__list label[for="l-size"] {
  border: 2px solid #62d1ba;
}

.modal-form__button {
  padding-left: 82px;
  padding-right: 83px;
  color: #ffffff;
  background-color: $seafoam-blue;
  border: 2px solid $seafoam-blue;

  &:hover {
    color: #ffffff;
    background-color: $seafoam-blue;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .modal-form__text {
    font-size: 17px;
  }

  .modal-form__list {
    margin-left: 78px;
    margin-right: 78px;
  }

  .modal-form__item label {
    width: 112px;
  }

  .modal-form__button {
    padding-left: 125px;
    padding-right: 125px;
  }
}
