.modal-order {
  width: 320px;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
  text-align: center;
}

.modal-order__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}
