.order-form {
  margin: 0 auto;
  margin-bottom: 55px;
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
  box-sizing: border-box;
}

.order-form__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 15px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .order-form {
    padding-left: 50px;
    padding-right: 50px;
    width: 768px;
  }

  .order-form__text {
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .form-item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    padding-left: 50px;
    padding-right: 50px;
    width: 1150px;
  }

  .order-form__text {
    padding-left: 175px;
    padding-right: 175px;
  }
}
