.order-form {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
  box-sizing: border-box;
}

.order-form__text {
  color: #444444;
}

.order-form__text--top {
  font-size: 13px;
  line-height: 24px;
}

.order-form__text--bottom {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

.order-form__filters {

}

.order-form__item {

}

.order-form__button {
  padding-left: 45px;
  padding-right: 45px;
}
