.page-main {
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .page-main {
    margin-top: -78px;
    width: 768px;
    border-top: 1px solid #ececec;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 1150px;
    border: none;
  }
}
