.page-footer {
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}

// @media (min-width: $tablet-width) {
//   .page-footer {
//     padding: 0;
//     width: 100%;
//   }
// }

// @media (min-width: $desktop-width) {
//   .page-footer {
//     padding: 0;
//     width: 100%;
//   }
// }
