.page-main {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .page-main {
    margin-top: -78px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    margin-top: -78px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    width: 100%;
    border: none;
  }
}
