.reviews {
  margin: 0 auto;
  margin-bottom: 38px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  width: 320px;
  color: #444444;
  background-image: url(../img/bg-zigzag-line.svg);
  background-size: 319px 6px;
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
}

.reviews__author-name {
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.reviews__toggles {
  margin-bottom: 38px;
}

.reviews__button {
  padding-left: 81px;
  padding-right: 80px;
  font-size: 18px;
}
