.site-sections {
  margin: 0 auto;
  margin-bottom: 27px;
  width: 320px;
}

.site-sections__container {
  margin-top: -78px;
  padding-top: 71px;
  box-sizing: border-box;
  max-width: 320px;

  &--index {
    min-height: 283px;
    background-color: #f9f9f9;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    // background-position: center;
  }

  &--catalog,
  &--form {
    margin-bottom: 30px;
    min-height: 177px;
    background-color: #f1f1f1;
  }
}

.site-sections__title {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 120px;
  max-width: 245px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #010000;
}

.site-sections__list {
  @include no-list;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.site-sections__item {
  position: relative;
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 29px;
  padding-right: 189px;
  text-align: left;
  width: 320px;
  min-height: 103px;

  &--interior {
    background-color: $seafoam-blue;
    // background-image: url(../img/icon-interior.svg);
    // background-repeat: no-repeat;
    // background-position: right 36px top 23px;
  }

  &--toys {
    background-color: $greeny-blue;
    // padding-left: 23px;
  }
}

.site-sections__link {
  color: #ffffff;
  text-decoration: none;
}

.site-sections__icon {
  position: absolute;
}

.site-sections__icon--interior {
  right: 36px;
  top: 23px;
  width: 40px;
  height: 62px;
}

@media (min-width: $tablet-width) {
  .site-sections {
    margin-bottom: 50px;
    width: 768px;
  }

  .site-sections__container {
    padding-top: 155px;
    padding-left: 52px;
    padding-right: 52px;
    box-sizing: border-box;
    max-width: 768px;
    border-top: 1px solid #ececec;
    &--index {
      min-height: 627px;
      background-image: url("../img/hero-tablet@1x.jpg");
    }
    &--catalog,
    &--form {
      min-height: 226px;
      background-color: #f1f1f1;
    }
  }

  .site-sections__title {
    padding-bottom: 359px;
    max-width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  .site-sections__list {
      display: flex;
  }

  .site-sections__item {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 334px;
    min-height: 119px;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .site-sections {
    margin-bottom: 71px;
    width: 1250px;
  }
  .site-sections__container {
    padding-top: 158px;
    padding-left: 109px;
    padding-right: 109px;
    box-sizing: border-box;
    max-width: 1190px;
    border-top: 1px solid #ececec;
    &--index {
      min-height: 570px;
      background-image: url("../img/hero-desktop@1x.jpg");
    }
  }

  .site-sections__title {
    max-width: 620px;
    font-size: 53px;
    line-height: 57px;
  }

  .site-sections__item {
    display: inline-block;
    padding-right: 370px;
    width: 525px;
    min-height: 119px;
  }

}
