.social__list {
  @include no-list;
  display: flex;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.social__link {
  text-decoration: none;
}

.social__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    justify-content: space-between;
  }

  .social__logo {
    display: block;
  }
}
